@media (max-width: 520px) {
  .hero {
    text-align: center;
    font-size: 1rem;
  }

  .date {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .refrance {
      grid-column: 1/-1;
    }

    .date-input {
      width: 100%;
    }
  }

  .short-cuts {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
    justify-items: start;
  }

  .button {
    grid-row: 3/-1;
    grid-column: 2/3;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    margin-left: 0;
  }

  .result-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .result {
    font-weight: 400;
  }
}
